*{
    margin: 0;
    padding: 7px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
}

body{
    background-color:  #243642;
    color: black;
    font: 16px/28px verdana;
}

.main{
    width: 80%;
    margin: auto;
    background-color: #fff;
}

.header{
    padding: 20px;
    background-color: #629584;
}

.header h1{
    font-size: 50px;
    font-weight: bold;
    color: #FEFAE0;
    text-transform: uppercase;
}

.header ul li{
    display: inline-flex;
    margin-top: 15px;
    margin-right: 20px;
}

.header a{
    color: wheat;
}

.header a:hover{
    color: #387478;
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 5px;
    padding: 2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.banner{
    height: 500px;
    background-image: url(../assets/source/image/musang.png);
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: #387478fc;
    */margin-top: 5px;
    transition: transform .2s;
    -webkit-transition: transform .2s;
    -moz-transition: transform .2s;
    -ms-transition: transform .2s;
    -o-transition: transform .2s;
    cursor: pointer;
}

.banner:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    
}

.content{
    padding: 20px;
    background-color: #E2F1E7;
    margin-top: 20px;
}

.content h3{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.content .penulis{
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

.content .penulis a{
    color: #629584;
}

.content .penulis a:hover{
    background-color: #243642;
}

.content p{
    margin-bottom: 15px;
    line-height: 20px;
}

.footer{
    text-align: center;
    background-color: #629584;
    font-size: 14px;
}