*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../assets/source/image/pexels-alfomedeiros-15738767.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
    color: #fff;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    padding: 30px 40px;
}

.container h1{
    font-size: 36px;
    text-align: center;
}

.container .input{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input input:hover{
    background-color: rgba(217, 212, 212, 0.397);
}

.input input::placeholder{
    color: #fff;
}

.container .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.container button:hover{
    background-color: rgb(207, 207, 207);
}